body {
    font-family: 'Ubuntu', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
}

#heading {
    font-weight: bold;
    text-decoration: underline;
}

#header {
    background-color: rgb(235, 49, 16);
    color: rgb(255, 255, 255);
    width: 100%;
}

img {
    width: 100%;
    border-radius: 20%;
}

#vol {
    float:left;
    margin-top: 2%;
}

#sed {
    float:right;
    margin-top: 2%;
}

#play {
    margin-top: 2%;
    font-size: 20px;
    padding: 0.5%;
}

#mar {
    background-color: white;
    margin-top: 18%;
    padding: 0.5%;
    font-weight: bold;
}

canvas {
    margin-top: 5%;
}